node-red/camera.json
[{"id":"a7bd16e0.e1e9e","type":"ibmiot in","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"75796f60.a5423","inputType":"evt","deviceId":"playbulb14","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Adjust Device ID","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":280,"y":200,"wires":[["576dd51.ca69cac","fc07c321.2f3ef"]]},{"id":"576dd51.ca69cac","type":"debug","z":"69cd7ed1.3ae408","name":"Incoming","active":false,"console":"false","complete":"true","x":680,"y":200,"wires":[]},{"id":"cd09f7fc.cb57c","type":"function","z":"69cd7ed1.3ae408","name":"Picture","func":"var data = msg.payload.data\nvar g=\"\"\nif ( msg.payload.pkgs == 1 )\n      global.set(\"img\",g)\nelse\n  g = global.get(\"img\")\n\n\ng=g+data\nglobal.set(\"img\",g)\nmsg.data = g\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["e0031ded.2f5088"]]},{"id":"e0031ded.2f5088","type":"debug","z":"69cd7ed1.3ae408","name":"DB-Picture","active":true,"console":"false","complete":"payload","x":690,"y":260,"wires":[]},{"id":"158bcf51.09bc99","type":"function","z":"69cd7ed1.3ae408","name":"","func":"g =    global.get(\"img\")\nmsg.payload = g\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["4a603352.2c355c"]]},{"id":"375de21a.678c5e","type":"ui_template","z":"69cd7ed1.3ae408","group":"8f79cbe7.46c398","name":"","order":1,"width":"12","height":"8","format":"<img ng-src= {{msg.payload}}\n width='290' \n height='220' \n id='img'\n alt='Getting Image'\n>\n{{msg.mvk}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":480,"wires":[[]]},{"id":"4a603352.2c355c","type":"function","z":"69cd7ed1.3ae408","name":"","func":"//var buff = new Buffer(msg.payload ,'base64');\nmsg.payload = \"data:image/jpeg;base64,\" + msg.payload;\n//msg.payload = \"data:image/jpeg;base64,\" + buff\n\n//msg.payload = buff\nmsg.mvk=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["375de21a.678c5e","2371c18c.1e4a36"]]},{"id":"2371c18c.1e4a36","type":"debug","z":"69cd7ed1.3ae408","name":"Check","active":true,"console":"false","complete":"payload","x":670,"y":520,"wires":[]},{"id":"82651ab6.5a7d78","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"75796f60.a5423","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"startpicture","format":"json","data":"msg.payload","qos":0,"name":"toPI - Adjust ID","service":"registered","x":1420,"y":180,"wires":[]},{"id":"a539d548.3cdef","type":"inject","z":"69cd7ed1.3ae408","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1010,"y":180,"wires":[["791f0663.b23d58"]]},{"id":"791f0663.b23d58","type":"function","z":"69cd7ed1.3ae408","name":"takepicture","func":"var newmsg = {\"cmd\" : \"takepicture\",\n\"width\": 640,\n\"height\": 480,\n\"timeout\": 1,\n\"vflip\" : false,\n\"hflip\" : false\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":180,"wires":[["82651ab6.5a7d78","feff80a8.7eb278"]]},{"id":"2c3d2205.83a95e","type":"comment","z":"69cd7ed1.3ae408","name":"Incoming Message form the PI ##","info":"","x":340,"y":140,"wires":[]},{"id":"217ffe68.bf6c1a","type":"comment","z":"69cd7ed1.3ae408","name":"Send Messages to the PI ##","info":"","x":1040,"y":120,"wires":[]},{"id":"feff80a8.7eb278","type":"debug","z":"69cd7ed1.3ae408","name":"SendCommand","active":false,"console":"false","complete":"payload","x":1420,"y":240,"wires":[]},{"id":"fc07c321.2f3ef","type":"switch","z":"69cd7ed1.3ae408","name":"filter events","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"picture","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"tookpicture","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":290,"y":280,"wires":[["cd09f7fc.cb57c","51b29208.1b986c"],["af0f10b3.c9422"],[],["bd71732b.cac298"]]},{"id":"af0f10b3.c9422","type":"function","z":"69cd7ed1.3ae408","name":"Ping","func":"var data = msg.payload.data\nvar g=\"\"\nif ( msg.payload.pkgs == 1 )\n      global.set(\"img\",g)\nelse\n  g = global.get(\"img\")\n\n\ng=g+data\nglobal.set(\"img\",g)\nmsg.data = g\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["c3fe02f5.b8e57"]]},{"id":"c3fe02f5.b8e57","type":"debug","z":"69cd7ed1.3ae408","name":"Pings","active":false,"console":"false","complete":"payload","x":670,"y":300,"wires":[]},{"id":"bd71732b.cac298","type":"debug","z":"69cd7ed1.3ae408","name":"Other","active":false,"console":"false","complete":"payload","x":270,"y":340,"wires":[]},{"id":"b1f1152e.0335a","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1010,"y":240,"wires":[["791f0663.b23d58"]]},{"id":"e38bb281.1166e8","type":"comment","z":"69cd7ed1.3ae408","name":"Display Image on UI (UserInterface)","info":"","x":760,"y":400,"wires":[]},{"id":"81962970.6d9af","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":420,"wires":[["158bcf51.09bc99"]]},{"id":"51b29208.1b986c","type":"delay","z":"69cd7ed1.3ae408","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":360,"wires":[["158bcf51.09bc99"]]},{"id":"332ceb6c.513b3c","type":"comment","z":"69cd7ed1.3ae408","name":"README 1st","info":"Hello .... make sure you adjust the DeviceID in the blue nodes","x":270,"y":80,"wires":[]},{"id":"e8613910.e0ba4","type":"comment","z":"69cd7ed1.3ae408","name":"URL for UI is http://snp??.mybluemix.net/ui","info":"","x":770,"y":440,"wires":[]},{"id":"75796f60.a5423","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"8f79cbe7.46c398","type":"ui_group","z":"","name":"Grade10","tab":"30af979f.f83b88","disp":true,"width":"12"},{"id":"30af979f.f83b88","type":"ui_tab","z":"","name":"Grade10","icon":"dashboard"}]
