node-red/mvk.json
[{"id":"a7bd16e0.e1e9e","type":"ibmiot in","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"75796f60.a5423","inputType":"evt","deviceId":"playbulb14","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Adjust Device ID","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":280,"y":200,"wires":[["576dd51.ca69cac","fc07c321.2f3ef"]]},{"id":"576dd51.ca69cac","type":"debug","z":"69cd7ed1.3ae408","name":"Incoming","active":false,"console":"false","complete":"true","x":680,"y":200,"wires":[]},{"id":"cd09f7fc.cb57c","type":"function","z":"69cd7ed1.3ae408","name":"Picture","func":"var data = msg.payload.data\nvar g=\"\"\nif ( msg.payload.pkgs == 1 )\n      global.set(\"img\",g)\nelse\n  g = global.get(\"img\")\n\n\ng=g+data\nglobal.set(\"img\",g)\nmsg.data = g\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["e0031ded.2f5088"]]},{"id":"e0031ded.2f5088","type":"debug","z":"69cd7ed1.3ae408","name":"DB-Picture","active":true,"console":"false","complete":"payload","x":690,"y":260,"wires":[]},{"id":"158bcf51.09bc99","type":"function","z":"69cd7ed1.3ae408","name":"","func":"g =    global.get(\"img\")\nmsg.payload = g\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["4a603352.2c355c"]]},{"id":"375de21a.678c5e","type":"ui_template","z":"69cd7ed1.3ae408","group":"8f79cbe7.46c398","name":"","order":1,"width":"12","height":"8","format":"<img ng-src= {{msg.payload}}\n width='290' \n height='220' \n id='img'\n alt='Getting Image'\n>\n{{msg.mvk}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":480,"wires":[[]]},{"id":"4a603352.2c355c","type":"function","z":"69cd7ed1.3ae408","name":"","func":"//var buff = new Buffer(msg.payload ,'base64');\nmsg.payload = \"data:image/jpeg;base64,\" + msg.payload;\n//msg.payload = \"data:image/jpeg;base64,\" + buff\n\n//msg.payload = buff\nmsg.mvk=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["375de21a.678c5e","2371c18c.1e4a36"]]},{"id":"2371c18c.1e4a36","type":"debug","z":"69cd7ed1.3ae408","name":"Check","active":true,"console":"false","complete":"payload","x":670,"y":520,"wires":[]},{"id":"82651ab6.5a7d78","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"75796f60.a5423","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"startpicture","format":"json","data":"msg.payload","qos":0,"name":"toPI - Adjust ID","service":"registered","x":1420,"y":180,"wires":[]},{"id":"a539d548.3cdef","type":"inject","z":"69cd7ed1.3ae408","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1010,"y":180,"wires":[["791f0663.b23d58"]]},{"id":"791f0663.b23d58","type":"function","z":"69cd7ed1.3ae408","name":"takepicture","func":"var newmsg = {\"cmd\" : \"takepicture\",\n\"width\": 640,\n\"height\": 480,\n\"timeout\": 1,\n\"vflip\" : false,\n\"hflip\" : false\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":180,"wires":[["82651ab6.5a7d78","feff80a8.7eb278"]]},{"id":"2c3d2205.83a95e","type":"comment","z":"69cd7ed1.3ae408","name":"Incoming Message form the PI ##","info":"","x":340,"y":140,"wires":[]},{"id":"217ffe68.bf6c1a","type":"comment","z":"69cd7ed1.3ae408","name":"Send Messages to the PI ##","info":"","x":1040,"y":120,"wires":[]},{"id":"f6642215.f50648","type":"visual-recognition-v3","z":"69cd7ed1.3ae408","name":"Watson ClassiFy Image","apikey":"595fad279b021da52cc48c0b1a996ad5e9281929","image-feature":"classifyImage","lang":"en","x":830,"y":1340,"wires":[["d11a2d8.d67245","39b950ee.619d4"]]},{"id":"feff80a8.7eb278","type":"debug","z":"69cd7ed1.3ae408","name":"SendCommand","active":false,"console":"false","complete":"payload","x":1420,"y":240,"wires":[]},{"id":"fc07c321.2f3ef","type":"switch","z":"69cd7ed1.3ae408","name":"filter events","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"picture","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"tookpicture","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":290,"y":280,"wires":[["cd09f7fc.cb57c","51b29208.1b986c"],["af0f10b3.c9422"],[],["bd71732b.cac298"]]},{"id":"af0f10b3.c9422","type":"function","z":"69cd7ed1.3ae408","name":"Ping","func":"var data = msg.payload.data\nvar g=\"\"\nif ( msg.payload.pkgs == 1 )\n      global.set(\"img\",g)\nelse\n  g = global.get(\"img\")\n\n\ng=g+data\nglobal.set(\"img\",g)\nmsg.data = g\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["c3fe02f5.b8e57"]]},{"id":"c3fe02f5.b8e57","type":"debug","z":"69cd7ed1.3ae408","name":"Pings","active":false,"console":"false","complete":"payload","x":670,"y":300,"wires":[]},{"id":"bd71732b.cac298","type":"debug","z":"69cd7ed1.3ae408","name":"Other","active":false,"console":"false","complete":"payload","x":270,"y":340,"wires":[]},{"id":"b1f1152e.0335a","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1010,"y":240,"wires":[["791f0663.b23d58"]]},{"id":"e38bb281.1166e8","type":"comment","z":"69cd7ed1.3ae408","name":"Display Image on UI (UserInterface)","info":"","x":760,"y":400,"wires":[]},{"id":"5b63272d.cd3518","type":"function","z":"69cd7ed1.3ae408","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n//global.set(\"face\",global.get(\"img\"))\n//global.set(\"obj\",global.get(\"img\"))\n//global.set(\"text\",global.get(\"img\"))\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":1340,"wires":[["f6642215.f50648"]]},{"id":"38108c02.a6a574","type":"inject","z":"69cd7ed1.3ae408","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":330,"y":1340,"wires":[["5b63272d.cd3518"]]},{"id":"35dc13db.d7c7b4","type":"debug","z":"69cd7ed1.3ae408","name":"People","active":true,"console":"false","complete":"true","x":1040,"y":760,"wires":[]},{"id":"fe74428a.f8d05","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"if ((typeof msg.result == 'undefined') || (typeof msg.result.images[0].classifiers == 'undefined'))\n{\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 240px; margin-top: 5px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h4>Nothing Found to Classify</h4>\"\n\nreturn msg;\n\n\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 240px; margin-top: 5px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h4>\"+say+\"</h4><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1440,"wires":[["db0a5e32.3881b","1e6b35c7.ccf3a2"]]},{"id":"db0a5e32.3881b","type":"ui_template","z":"69cd7ed1.3ae408","group":"ca7a0134.58bff8","name":"Results Table","order":1,"width":"13","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":1440,"wires":[[]]},{"id":"1e6b35c7.ccf3a2","type":"debug","z":"69cd7ed1.3ae408","name":"Debug","active":false,"console":"false","complete":"true","x":970,"y":1520,"wires":[]},{"id":"6c6abe06.ec2958","type":"visual-recognition-v3","z":"69cd7ed1.3ae408","name":"Detect  People","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":820,"y":820,"wires":[["35dc13db.d7c7b4","48b6e94e.6d00c","917cff3f.7cd638"]]},{"id":"320107b4.d9513","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Classify Object","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":560,"y":1420,"wires":[["5b63272d.cd3518"]]},{"id":"bf2b2f42.af502","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"if (typeof msg.result.images[0].faces == 'undefined') \nmsg.template=\"<h4>No People Found to Classify</h4>\"\nelse\nmsg.template  = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":820,"wires":[["db0a5e32.3881b"]]},{"id":"b592a808.71003","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Detect People","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":760,"wires":[["d872a136.239028"]]},{"id":"d872a136.239028","type":"function","z":"69cd7ed1.3ae408","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":820,"wires":[["6c6abe06.ec2958"]]},{"id":"d11a2d8.d67245","type":"template","z":"69cd7ed1.3ae408","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n    <img src=\"{{source_url}}\"/><br />\n    {{#classifiers}}\n        <h2>{{name}}</h2>\n        <table border=\"1\">\n            <tr>\n                <td>Class</td>\n                <td>Score</td>\n                <td>Type Hierarchy</td>\n            </tr>    \n            {{#classes}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td>\n                    <td>{{type_hierarchy}}</td>\n                </tr>\n            {{/classes}}\n        </table>\n    {{/classifiers}}\n{{/result.images}}\n","x":1060,"y":1340,"wires":[["69d6f61e.2f80f"]]},{"id":"d02c0fff.a02458","type":"comment","z":"69cd7ed1.3ae408","name":"Classify Objec","info":"","x":310,"y":1280,"wires":[]},{"id":"39b950ee.619d4","type":"debug","z":"69cd7ed1.3ae408","name":"Objects","active":true,"console":"false","complete":"true","x":1020,"y":1380,"wires":[]},{"id":"69d6f61e.2f80f","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"\nmsg.template  = msg.payload;\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n    say = say + \" System thinks this picture contains a \" + item +\".\";\n}\n\n\n\nmsg.template=\"<br><h2>\"+say+\"</h2>\"+msg.template\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1340,"wires":[["db0a5e32.3881b"]]},{"id":"8ae3e7d.6d7ff18","type":"inject","z":"69cd7ed1.3ae408","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":330,"y":820,"wires":[["d872a136.239028"]]},{"id":"48b6e94e.6d00c","type":"function","z":"69cd7ed1.3ae408","name":"Age","func":"msg.payload = msg.result.images[0].faces[0].age.min\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":680,"wires":[["58ed08eb.914f48","352a1636.f148da"]]},{"id":"58ed08eb.914f48","type":"debug","z":"69cd7ed1.3ae408","name":"Min  Age","active":true,"console":"false","complete":"payload","x":1020,"y":620,"wires":[]},{"id":"bb0668a0.2a2b78","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":1550,"y":680,"wires":[]},{"id":"bd9c2c42.bc989","type":"function","z":"69cd7ed1.3ae408","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":720,"wires":[["bb0668a0.2a2b78"]]},{"id":"352a1636.f148da","type":"switch","z":"69cd7ed1.3ae408","name":"Age < 25","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1200,"y":680,"wires":[[],["bd9c2c42.bc989"]]},{"id":"81962970.6d9af","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":420,"wires":[["158bcf51.09bc99"]]},{"id":"128e499a.703596","type":"comment","z":"69cd7ed1.3ae408","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":770,"y":760,"wires":[]},{"id":"69c651d8.3adc9","type":"debug","z":"69cd7ed1.3ae408","name":"Text","active":true,"console":"false","complete":"true","x":990,"y":1080,"wires":[]},{"id":"5b7c4c23.190ebc","type":"visual-recognition-v3","z":"69cd7ed1.3ae408","name":"Detect Text","apikey":"595fad279b021da52cc48c0b1a996ad5e9281929","image-feature":"recognizeText","lang":"en","x":770,"y":1140,"wires":[["69c651d8.3adc9","9cf84648.b38cc"]]},{"id":"50e8ecb3.f4b31c","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Detect Text","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":1080,"wires":[["e6d7dc56.50602"]]},{"id":"e6d7dc56.50602","type":"function","z":"69cd7ed1.3ae408","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\nvar buf = Buffer.from( global.get(\"text\"), 'base64');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":1140,"wires":[["5b7c4c23.190ebc"]]},{"id":"eb9da0db.f39dc","type":"inject","z":"69cd7ed1.3ae408","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":290,"y":1140,"wires":[["e6d7dc56.50602"]]},{"id":"917cff3f.7cd638","type":"template","z":"69cd7ed1.3ae408","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n.boxes {\n\tmargin: 0rem;\n\theight: 0rem;\n\twidth: 0rem;\n}\n\n.box-location {\n\tposition: absolute;\n\twidth: 50px;\n\theight: 50px;\n\tborder: 3px solid rgba(255, 255, 255, 0.54);\n\tborder-color: #f3f3f3;\n\ttop: 0rem;\n\tdisplay: block;\n\tmargin-top: 0rem;\n\tleft: calc(50% - 7rem);\n}\n</style>\n\n{{#result.images}}\n<img src=\"{{source_url}}\"/>\n{{#faces}}\n    <div class=\"box-location\" style=\"height: {{face_location.height}}px; left: {{face_location.left}}px; top: {{face_location.top}}px; width: {{face_location.width}}px;\"></div>\n{{/faces}}\n\n<table border=\"1\">\n        <tr>\n            <td>Gender</td>\n            <td>Age Range</td>\n            <td>Location</td>\n        </tr>    \n    {{#faces}}\n        <tr>\n            <td>{{gender.gender}} ({{gender.score}})</td>\n            <td>{{age.min}}-{{age.max}} ({{age.score}})</td>\n            <td>{{face_location.left}},{{face_location.top}} {{face_location.width}}X{{face_location.height}}</td>\n        </tr>\n    {{/faces}}\n</table>\n{{/result.images}}","x":1080,"y":820,"wires":[["bf2b2f42.af502"]]},{"id":"23b4c4c7.1c9664","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"if (typeof msg.result.images[0].text == 'undefined'\n || msg.result.images[0].text == \"\") \nmsg.template=\"<h4>No Text Found to Classify</h4>\"\nelse\nmsg.template  = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1140,"wires":[["db0a5e32.3881b","dc4f0493.f305a8","a0854119.0f997"]]},{"id":"9cf84648.b38cc","type":"template","z":"69cd7ed1.3ae408","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n{{#result.images}}\n    <h4>Text = {{text}}</h4>\n<table border=\"1\">\n        <tr>\n            <td>words</td>\n <td>score</td>\n        </tr>   \n        \n    {{#words}}\n        <tr>\n            <td>{{word}}</td>\n              <td>{{score}}</td>\n        </tr>\n    {{/words}}\n</table>\n{{/result.images}}","x":1060,"y":1140,"wires":[["23b4c4c7.1c9664"]]},{"id":"51b29208.1b986c","type":"delay","z":"69cd7ed1.3ae408","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":360,"wires":[["158bcf51.09bc99"]]},{"id":"fdae8d60.27c68","type":"function","z":"69cd7ed1.3ae408","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":1100,"wires":[["c6752423.e32ba"]]},{"id":"c6752423.e32ba","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":1990,"y":1120,"wires":[]},{"id":"dc4f0493.f305a8","type":"switch","z":"69cd7ed1.3ae408","name":"Color?","property":"result.images[0].text","propertyType":"msg","rules":[{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":1510,"y":1120,"wires":[["fdae8d60.27c68"],[],[],[]]},{"id":"a0854119.0f997","type":"debug","z":"69cd7ed1.3ae408","name":"Text","active":true,"console":"false","complete":"true","x":1510,"y":1060,"wires":[]},{"id":"332ceb6c.513b3c","type":"comment","z":"69cd7ed1.3ae408","name":"README 1st","info":"Hello .... make sure you adjust the DeviceID in the blue nodes","x":270,"y":80,"wires":[]},{"id":"e8613910.e0ba4","type":"comment","z":"69cd7ed1.3ae408","name":"URL for UI is http://snp??.mybluemix.net/ui","info":"","x":770,"y":440,"wires":[]},{"id":"7d9195f6.0d2af4","type":"inject","z":"69cd7ed1.3ae408","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250,"y":520,"wires":[["210fc01d.ed60f8"]]},{"id":"210fc01d.ed60f8","type":"function","z":"69cd7ed1.3ae408","name":"text","func":"g =    global.get(\"text\")\nmsg.payload = g\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["4a603352.2c355c"]]},{"id":"6f306269.3b42cc","type":"comment","z":"69cd7ed1.3ae408","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":770,"y":1300,"wires":[]},{"id":"f10c9c86.b1b7e8","type":"comment","z":"69cd7ed1.3ae408","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":750,"y":1080,"wires":[]},{"id":"4e7f42b4.285e94","type":"comment","z":"69cd7ed1.3ae408","name":"Detect Text","info":"","x":290,"y":1000,"wires":[]},{"id":"cd0b78f6.e558a","type":"comment","z":"69cd7ed1.3ae408","name":"Detect People","info":"","x":290,"y":680,"wires":[]},{"id":"75796f60.a5423","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"8f79cbe7.46c398","type":"ui_group","z":"","name":"Grade10","tab":"30af979f.f83b88","disp":true,"width":"12"},{"id":"ca7a0134.58bff8","type":"ui_group","z":"","name":"Group 2","tab":"30af979f.f83b88","order":2,"disp":false,"width":"13"},{"id":"30af979f.f83b88","type":"ui_tab","z":"","name":"Grade10","icon":"dashboard"}]
