node-red/object.json
[{"id":"3bcc231c.40217c","type":"visual-recognition-v3","z":"1be2f259.14133e","name":"Watson ClassiFy Image","apikey":"595fad279b021da52cc48c0b1a996ad5e9281929","image-feature":"classifyImage","lang":"en","x":770,"y":780,"wires":[["98a32b75.137b28","bc173101.957c2"]]},{"id":"3a2b873a.811508","type":"function","z":"1be2f259.14133e","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n//global.set(\"face\",global.get(\"img\"))\n//global.set(\"obj\",global.get(\"img\"))\n//global.set(\"text\",global.get(\"img\"))\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":780,"wires":[["3bcc231c.40217c"]]},{"id":"aed1bd0f.22bcc8","type":"inject","z":"1be2f259.14133e","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":270,"y":780,"wires":[["3a2b873a.811508"]]},{"id":"acc3cf5f.ddada","type":"function","z":"1be2f259.14133e","name":"Process Results","func":"if ((typeof msg.result == 'undefined') || (typeof msg.result.images[0].classifiers == 'undefined'))\n{\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 240px; margin-top: 5px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h4>Nothing Found to Classify</h4>\"\n\nreturn msg;\n\n\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 240px; margin-top: 5px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h4>\"+say+\"</h4><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":880,"wires":[["8086b93.6435e48","87a9281c.109c78"]]},{"id":"8086b93.6435e48","type":"ui_template","z":"1be2f259.14133e","group":"1c0708c1.7fcb6f","name":"Results Table","order":1,"width":"13","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1210,"y":880,"wires":[[]]},{"id":"87a9281c.109c78","type":"debug","z":"1be2f259.14133e","name":"Debug","active":false,"console":"false","complete":"true","x":910,"y":960,"wires":[]},{"id":"5511b864.2dfdc8","type":"ui_button","z":"1be2f259.14133e","name":"","group":"5bf92c92.2fad74","order":2,"width":0,"height":0,"passthru":false,"label":"Classify Object","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":500,"y":860,"wires":[["3a2b873a.811508"]]},{"id":"98a32b75.137b28","type":"template","z":"1be2f259.14133e","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n    <img src=\"{{source_url}}\"/><br />\n    {{#classifiers}}\n        <h2>{{name}}</h2>\n        <table border=\"1\">\n            <tr>\n                <td>Class</td>\n                <td>Score</td>\n                <td>Type Hierarchy</td>\n            </tr>    \n            {{#classes}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td>\n                    <td>{{type_hierarchy}}</td>\n                </tr>\n            {{/classes}}\n        </table>\n    {{/classifiers}}\n{{/result.images}}\n","x":1000,"y":780,"wires":[["f18b0245.3bf45"]]},{"id":"bc173101.957c2","type":"debug","z":"1be2f259.14133e","name":"Objects","active":true,"console":"false","complete":"true","x":960,"y":820,"wires":[]},{"id":"f18b0245.3bf45","type":"function","z":"1be2f259.14133e","name":"Process Results","func":"\nmsg.template  = msg.payload;\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n    say = say + \" System thinks this picture contains a \" + item +\".\";\n}\n\n\n\nmsg.template=\"<br><h2>\"+say+\"</h2>\"+msg.template\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":780,"wires":[["8086b93.6435e48"]]},{"id":"8f98c37.b1633c","type":"comment","z":"1be2f259.14133e","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":710,"y":740,"wires":[]},{"id":"8e90e08c.3f71a8","type":"comment","z":"1be2f259.14133e","name":"Object Detection","info":"","x":280,"y":720,"wires":[]},{"id":"1c0708c1.7fcb6f","type":"ui_group","z":"","name":"Group 2","tab":"2c8e74a7.8387ac","order":2,"disp":false,"width":"13"},{"id":"5bf92c92.2fad74","type":"ui_group","z":"","name":"Grade10","tab":"2c8e74a7.8387ac","disp":true,"width":"12"},{"id":"2c8e74a7.8387ac","type":"ui_tab","z":"","name":"Grade10","icon":"dashboard"}]
