node-red/people.json
[{"id":"35dc13db.d7c7b4","type":"debug","z":"69cd7ed1.3ae408","name":"People","active":true,"console":"false","complete":"true","x":1040,"y":760,"wires":[]},{"id":"6c6abe06.ec2958","type":"visual-recognition-v3","z":"69cd7ed1.3ae408","name":"Detect  People","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":820,"y":820,"wires":[["35dc13db.d7c7b4","48b6e94e.6d00c","917cff3f.7cd638"]]},{"id":"bf2b2f42.af502","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"if (typeof msg.result.images[0].faces == 'undefined') \nmsg.template=\"<h4>No People Found to Classify</h4>\"\nelse\nmsg.template  = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":820,"wires":[["db0a5e32.3881b"]]},{"id":"b592a808.71003","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Detect People","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":760,"wires":[["d872a136.239028"]]},{"id":"d872a136.239028","type":"function","z":"69cd7ed1.3ae408","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":820,"wires":[["6c6abe06.ec2958"]]},{"id":"8ae3e7d.6d7ff18","type":"inject","z":"69cd7ed1.3ae408","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":330,"y":820,"wires":[["d872a136.239028"]]},{"id":"48b6e94e.6d00c","type":"function","z":"69cd7ed1.3ae408","name":"Age","func":"msg.payload = msg.result.images[0].faces[0].age.min\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":680,"wires":[["58ed08eb.914f48","352a1636.f148da"]]},{"id":"58ed08eb.914f48","type":"debug","z":"69cd7ed1.3ae408","name":"Min  Age","active":true,"console":"false","complete":"payload","x":1020,"y":620,"wires":[]},{"id":"bb0668a0.2a2b78","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":1550,"y":680,"wires":[]},{"id":"bd9c2c42.bc989","type":"function","z":"69cd7ed1.3ae408","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":720,"wires":[["bb0668a0.2a2b78"]]},{"id":"352a1636.f148da","type":"switch","z":"69cd7ed1.3ae408","name":"Age < 25","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1200,"y":680,"wires":[[],["bd9c2c42.bc989"]]},{"id":"128e499a.703596","type":"comment","z":"69cd7ed1.3ae408","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":770,"y":760,"wires":[]},{"id":"917cff3f.7cd638","type":"template","z":"69cd7ed1.3ae408","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n.boxes {\n\tmargin: 0rem;\n\theight: 0rem;\n\twidth: 0rem;\n}\n\n.box-location {\n\tposition: absolute;\n\twidth: 50px;\n\theight: 50px;\n\tborder: 3px solid rgba(255, 255, 255, 0.54);\n\tborder-color: #f3f3f3;\n\ttop: 0rem;\n\tdisplay: block;\n\tmargin-top: 0rem;\n\tleft: calc(50% - 7rem);\n}\n</style>\n\n{{#result.images}}\n<img src=\"{{source_url}}\"/>\n{{#faces}}\n    <div class=\"box-location\" style=\"height: {{face_location.height}}px; left: {{face_location.left}}px; top: {{face_location.top}}px; width: {{face_location.width}}px;\"></div>\n{{/faces}}\n\n<table border=\"1\">\n        <tr>\n            <td>Gender</td>\n            <td>Age Range</td>\n            <td>Location</td>\n        </tr>    \n    {{#faces}}\n        <tr>\n            <td>{{gender.gender}} ({{gender.score}})</td>\n            <td>{{age.min}}-{{age.max}} ({{age.score}})</td>\n            <td>{{face_location.left}},{{face_location.top}} {{face_location.width}}X{{face_location.height}}</td>\n        </tr>\n    {{/faces}}\n</table>\n{{/result.images}}","x":1080,"y":820,"wires":[["bf2b2f42.af502"]]},{"id":"cd0b78f6.e558a","type":"comment","z":"69cd7ed1.3ae408","name":"Detect People","info":"","x":290,"y":680,"wires":[]},{"id":"8f79cbe7.46c398","type":"ui_group","z":"","name":"Grade10","tab":"30af979f.f83b88","disp":true,"width":"12"},{"id":"30af979f.f83b88","type":"ui_tab","z":"","name":"Grade10","icon":"dashboard"}]
