node-red/textreco.json
[{"id":"69c651d8.3adc9","type":"debug","z":"69cd7ed1.3ae408","name":"Text","active":true,"console":"false","complete":"true","x":1010,"y":940,"wires":[]},{"id":"5b7c4c23.190ebc","type":"visual-recognition-v3","z":"69cd7ed1.3ae408","name":"Detect Text","apikey":"595fad279b021da52cc48c0b1a996ad5e9281929","image-feature":"recognizeText","lang":"en","x":790,"y":1000,"wires":[["69c651d8.3adc9","9cf84648.b38cc"]]},{"id":"50e8ecb3.f4b31c","type":"ui_button","z":"69cd7ed1.3ae408","name":"","group":"8f79cbe7.46c398","order":2,"width":0,"height":0,"passthru":false,"label":"Detect Text","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":940,"wires":[["e6d7dc56.50602"]]},{"id":"e6d7dc56.50602","type":"function","z":"69cd7ed1.3ae408","name":"Build Buffer","func":"\nvar buf = Buffer.from( global.get(\"img\"), 'base64');\nAPIKEY = \"595fad279b021da52cc48c0b1a996ad5e9281929\"\nparameters = {\n\tclassifier_ids: [\"LegoAccidentMvK02_1462123022\"],\n    threshold: 0.01\n}\n//msg.params = parameters\nmsg.payload = buf\n//node.status({fill:\"green\",shape:\"dot\",text: parameters.classifier_ids});\nvar buf = Buffer.from( global.get(\"text\"), 'base64');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":1000,"wires":[["5b7c4c23.190ebc"]]},{"id":"eb9da0db.f39dc","type":"inject","z":"69cd7ed1.3ae408","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":1000,"wires":[["e6d7dc56.50602"]]},{"id":"23b4c4c7.1c9664","type":"function","z":"69cd7ed1.3ae408","name":"Process Results","func":"if (typeof msg.result.images[0].text == 'undefined'\n || msg.result.images[0].text == \"\") \nmsg.template=\"<h4>No Text Found to Classify</h4>\"\nelse\nmsg.template  = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1000,"wires":[["db0a5e32.3881b","dc4f0493.f305a8","a0854119.0f997"]]},{"id":"9cf84648.b38cc","type":"template","z":"69cd7ed1.3ae408","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n{{#result.images}}\n    <h4>Text = {{text}}</h4>\n<table border=\"1\">\n        <tr>\n            <td>words</td>\n <td>score</td>\n        </tr>   \n        \n    {{#words}}\n        <tr>\n            <td>{{word}}</td>\n              <td>{{score}}</td>\n        </tr>\n    {{/words}}\n</table>\n{{/result.images}}","x":1080,"y":1000,"wires":[["23b4c4c7.1c9664"]]},{"id":"fdae8d60.27c68","type":"function","z":"69cd7ed1.3ae408","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":960,"wires":[["c6752423.e32ba"]]},{"id":"c6752423.e32ba","type":"ibmiot out","z":"69cd7ed1.3ae408","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb14","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":2010,"y":980,"wires":[]},{"id":"dc4f0493.f305a8","type":"switch","z":"69cd7ed1.3ae408","name":"Color?","property":"result.images[0].text","propertyType":"msg","rules":[{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":1530,"y":980,"wires":[["fdae8d60.27c68"],[],[],[]]},{"id":"a0854119.0f997","type":"debug","z":"69cd7ed1.3ae408","name":"Text","active":true,"console":"false","complete":"true","x":1530,"y":920,"wires":[]},{"id":"f10c9c86.b1b7e8","type":"comment","z":"69cd7ed1.3ae408","name":"API Key","info":"595fad279b021da52cc48c0b1a996ad5e9281929","x":770,"y":940,"wires":[]},{"id":"8f79cbe7.46c398","type":"ui_group","z":"","name":"Grade10","tab":"30af979f.f83b88","disp":true,"width":"12"},{"id":"30af979f.f83b88","type":"ui_tab","z":"","name":"Grade10","icon":"dashboard"}]
